/* ==========================================================================
 HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
 ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #808080;
  text-shadow: none;
}
::selection {
  background: #808080;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #db9127;
  margin: 1em 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
a,
a:visited {
  color: #2aafb1;
}
a:hover {
  color: #db9127;
}
/* ===== Initializr Styles ==================================================
 Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
 ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  color: #093839;
}
.wrapper {
  width: 90%;
  margin: 0 5%;
}
/* ===================
 Theme
 =================== */
h6 {
  color: #188e90;
}
h5 {
  color: #188e90;
}
h4 {
  color: #188e90;
}
h3 {
  color: #188e90;
}
h2 {
  color: #188e90;
}
h1 {
  color: #188e90;
}
.header-container {
  border-bottom: 10px solid #188e90;
}
.footer-container,
.main aside {
  border-top: 10px solid #188e90;
}
.header-container,
.footer-container,
.main aside {
  background: #e4ac5b;
}
.title {
  color: #188e90;
}
aside {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
/* ==============
 MOBILE: Menu
 ============== */
nav ul {
  margin: 0;
  padding: 0;
}
nav a,
nav a:visited {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #188e90;
  background: #e4ac5b;
}
nav a:hover {
  color: #2aafb1;
  background: #e7b771;
}
/* ==============
 MOBILE: Main
 ============== */
.main {
  padding: 30px 0;
}
.main article h1 {
  font-size: 2em;
}
.main aside {
  color: #f0daba;
  padding: 0px 5% 10px;
}
.footer-container footer {
  color: #f0daba;
  padding: 20px 0;
}
/* ===============
 ALL: IE Fixes
 =============== */
.ie7 .title {
  padding-top: 20px;
}
/* ==========================================================================
 Author's custom styles
 ========================================================================== */
/* ==========================================================================
 Media Queries
 ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
     INTERMEDIATE: Menu
     ==================== */
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }
  nav li:first-child a {
    margin-left: 0;
  }
  nav li:last-child a {
    margin-right: 0;
  }
  /* ========================
     INTERMEDIATE: IE Fixes
     ======================== */
  nav ul li {
    display: inline;
  }
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
     WIDE: CSS3 Effects
     ==================== */
  .header-container,
  .main aside,
  .footer-container {
    -webkit-box-shadow: 0px 0px 6px 0px #000000;
    -moz-box-shadow: 0px 0px 6px 0px #000000;
    box-shadow: 0px 0px 6px 0px #000000;
    -o-box-shadow: 0px 0px 6px 0px #000000;
    -ms-box-shadow: 0px 0px 6px 0px #000000;
  }
  /* ============
     WIDE: Menu
     ============ */
  .title {
    float: left;
  }
  nav {
    float: right;
    width: 38%;
  }
  /* ============
     WIDE: Main
     ============ */
  .main article {
    float: left;
    width: 57%;
  }
  .main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
     Maximal Width
     =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
/* ==========================================================================
 Helper classes
 ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
 Print styles
 ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
